body{
  background-color: #5F6366;
  margin: 0;
  padding: 0;
}
.content-box-parent{
  background-color: #5F6366;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form{
	padding-bottom: 75px;
	justify-content: center;
  display: flex;
  flex-direction: column;
	align-items: center;
}

.title-part{
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 20px;
}
.input-parts-childs{
  color: aliceblue;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 50px;
}
.input-parts-childs select{
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}
.submit-button{
  font-size: 20px;
  background-color: #4D6D9A;
  cursor: pointer;
  height: 50px;
  color: #fff;
  border: none;
  margin: 5px;
}
.submit-button:hover{
  background-color: #86B3D1;
}
.table{
  background-color: white;
}

.box-functie{
  text-align: center;
  margin: 20px;
}
.childs-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.child-box{
  font-size: 40;
  font-weight: 700;
  color: #fff;
  margin-right: 40px;
  text-align: center
}
.box-functie{ 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: #86B3D1; 
  font-size: 16px; 
  font-weight: 800; 
  height: 30px; 
  width: 430px; 
  color: white; 
  cursor: pointer; 
} 
.box-parent{ 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 5px; 
} 
.input-type{ 
  margin: 10px; 
} 
.box-delete{ 
  text-align: center; 
  background-color: red; 
  color: white; 
  height: 30px; 
  width: 30px; 
  border: 1px solid rgb(153, 0, 0); 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  font-size: 18px; 
  font-weight: 900; 
  float: right; 
} 
.box-delete:hover{ 
  background-color: rgb(153, 0, 0); 
}