.navbar-parent{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99CED3;
  height: 60px;
  display:flex;
  justify-content: center;
}
.navbar-childs{
  text-align: center;
  display: flex;
  justify-content: center;
}
.navbar-buttons{
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  color: #fff;
  border: none;
  margin: 5px;
}
.navbar-buttons:hover{
  background-color: rgb(41, 61, 61);
}